@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

body {
  font-family: 'YS-Display', 'YS-Text', sans-serif;
  color-scheme: light dark;
  color: #000000;
  background-color: #F9FAFB;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
